<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infotechnodev.php"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/styled"
        android:name="com.infotechnodev.php.QuizApp">

        <!--list summary-->
        <activity
            android:name="com.infotechnodev.php.ui.QuizSummaryListActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- question -->
        <activity
            android:name="com.infotechnodev.php.ui.QuestionPagerActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.infotechnodev.php.ui.QuizSummaryListActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.infotechnodev.php.ui.QuizSummaryListActivity" />
        </activity>

        <!--settings-->
        <activity
            android:name="com.infotechnodev.php.ui.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--result-->
        <activity android:name="com.infotechnodev.php.ui.ResultActivity"
            android:label="@string/result"
            android:parentActivityName="com.infotechnodev.php.ui.QuizSummaryListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.infotechnodev.php.ui.QuizSummaryListActivity" />
        </activity>

        <!--crashlytics-->
        <meta-data android:name="com.crashlytics.ApiKey"
            android:value="3aa26d66041683c1c9a2ba7517bad8ff76eb11e1"/>

        <!--play service-->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--admob-->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    </application>

</manifest>
